.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(84, 84, 84, 0.7);
  margin: 45px auto 40px;
  max-width: 880px;
  min-width: 320px;
  padding-bottom: 41px;
}
@media screen and (max-width: 890px) and (min-width: 400px) {
  .header {
    margin-top: 28px;
  }
}

@media screen and (max-width: 390px) {
  .header {
    margin-top: 40px;
    padding-bottom: 40px;
  }
}
