.header__link {
  display: flex;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  transition: 0.2s;
}

.header__link:hover {
  opacity: 0.6;
}

@media screen and (max-width: 390px) {
  .header__link {
    margin-right: 25px;
  }
}
